body {
    padding: 25px;
}
.title {
    color: #5C6AC4;
}
.clickbtn {
    color: aqua;
    background-color: blue;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}
.yourcontent {
    background-color: white;
    border-color: black;
    padding: 200px 200px;
}